.credits {
  display : none;
}

.navbar {
  display : none;
}

#positioner {
  margin-top : 10%;
}

body {
  background-color: rgb(0,0,0);
}

main {
  padding : 0px !important;
}

h1 {
  font-family : "kepler-std-semicondensed-dis";
  font-size : 36px;
  color : #ffffff;
  letter-spacing : 8px;
  padding-left : 10px;
}

h4 {
  font-family : "franklin-gothic-urw";
  font-size : 13px;
  color : #7b7b7b;
  padding-bottom : 20px;
}

a {
  font-family : "kepler-std-semicondensed-dis";
  font-size : 16px;
  color : #ffffff;
  letter-spacing : 10px;
  padding-left : 10px;
  vertical-align : middle;
  text-decoration : none !important;
}

.atag {
  margin-top : 40px;
}

img {
  vertical-align : middle;
}

.previewshell {
  background-image : url(../img/bg-blank.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
  background-color: rgb(0,0,0);
  -webkit-background-size: 190%;
  -moz-background-size: 190%;
  -o-background-size: 190%;
  background-size: 190%;
  padding : 0px !important;
}

.shell {
  background-image: url(../img/bg-all.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
  background-color: rgb(0,0,0);
  -webkit-background-size: 190%;
  -moz-background-size: 190%;
  -o-background-size: 190%;
  background-size: 190%;
  padding: 55% 0%!important;
}

.emailbox {
  position : relative;
}

input {
  background-color : #7b7b7b;
  color: #FFF;
  border-radius : 3px;
  position : absolute;
  width : 70%;
  left : 50%;
  margin-left : -35%;
  border : none;

}

div {
  text-align : center;
}

.logo {
  width : 83%;
}

.nopad {
  padding-top : 12px;
  padding-bottom : 4px;
  font-size : 10px;
}

.frame {
  padding-top : 10px;
}

iframe {
  width : 83%;
  box-shadow : 0px 0px 5px gray;
  border : none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) {
  .shell {
    -webkit-background-size: 163%;
    -moz-background-size: 163%;
    -o-background-size: 163%;
    background-size: 163%;
    padding: 30% 0%!important;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) {

}
