.credits {
  display : none;
}

.navbar {
  display : none;
}

#positioner {
  margin-top : 10%;
}

body {
  background-color: rgb(0,0,0);
}

main {
  padding : 0px !important;
}

h1 {
  font-family : "kepler-std-semicondensed-dis";
  font-size : 36px;
  color : #ffffff;
  letter-spacing : 8px;
  padding-left : 10px;
}

h4 {
  font-family : "franklin-gothic-urw";
  font-size : 13px;
  color : #7b7b7b;
  padding-bottom : 20px;
}

a {
  font-family : "kepler-std-semicondensed-dis";
  font-size : 16px;
  color : #ffffff;
  letter-spacing : 10px;
  padding-left : 10px;
  vertical-align : middle;
  text-decoration : none !important;
}

.atag {
  margin-top : 40px;
}

img {
  vertical-align : middle;
}

.previewshell {
  background-image : url(../img/bg-blank.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
  background-color: rgb(0,0,0);
  -webkit-background-size: 190%;
  -moz-background-size: 190%;
  -o-background-size: 190%;
  background-size: 190%;
  padding : 0px 0px 20% 0px !important;
}

.shell {
  background-image: url(../img/bg-all.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
  background-color: rgb(0,0,0);
  -webkit-background-size: 190%;
  -moz-background-size: 190%;
  -o-background-size: 190%;
  background-size: 190%;
  padding: 45% 0% !important;
}

.emailbox {
  position : relative;
}

input {
  background-color : #7b7b7b;
  color: #FFF;
  border-radius : 3px;
  position : absolute;
  width : 70%;
  left : 50%;
  margin-left : -35%;
  border : none;

}

div {
  text-align : center;
}

.logo {
  width : 83%;
}

.nopad {
  padding-top : 12px;
  padding-bottom : 4px;
  font-size : 10px;
}

.frame {
  padding-top : 10px;
}

iframe {
  width : 83%;
  box-shadow : 0px 0px 5px gray;
  border : none;
}

#icons {
  list-style : none;
  padding-left: 0px !important;
  margin-top : 30px !important;
}

li {
  display : inline-block;
  padding: 0px 15px 0px 15px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .shell {
    -webkit-background-size: 145%;
    -moz-background-size: 145%;
    -o-background-size: 145%;
    background-size: 145%;
    padding: 27% 0% !important;
  }

  .previewshell {
    -webkit-background-size: 162%;
    -moz-background-size: 162%;
    -o-background-size: 162%;
    background-size: 162%;
    padding: 0px 0px 28% 0px !important;
  }

  h1 {
    font-size: 50px;
    letter-spacing: 30px;
    padding-left: 30px;
  }

  h4 {
    font-size: 16px;
    padding-bottom: 15px;
  }

  input {
    width : 30%;
    margin-left : -15%;
  }

  li {
    padding: 0px 30px 0px 30px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h4 {
    font-size: 18px;
    padding-bottom: 20px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .shell {
    -webkit-background-size: 120%;
    -moz-background-size: 120%;
    -o-background-size: 120%;
    background-size: 120%;
    padding: 20% 0% !important;
  }

  h1 {
    font-size: 40px;
  }

  h4 {
    font-size: 16px;
    padding-bottom: 20px;
  }

  input {
    width : 24%;
    margin-left : -12%;
  }
}
