.credits {
  display : none;
}

.navbar {
  display : none;
}

.positioner {
  position : absolute;
  width : 100%;
  margin-left : auto;
  margin-right : auto;
}

h1 {
  font-family : "kepler-std-semicondensed-dis";
  font-size : 30px;
  color : #ffffff;
  letter-spacing : 10px;
  padding-left : 10px;
}

h4 {
  font-family : "franklin-gothic-urw";
  font-size : 10px;
  color : #7b7b7b;
  padding-bottom : 20px;
}

a {
  font-family : "kepler-std-semicondensed-dis";
  font-size : 16px;
  color : #ffffff;
  letter-spacing : 10px;
  padding-left : 10px;
  vertical-align : middle;
}

.atag {
  margin-top : 15px;
}

img {
  vertical-align : middle;
}

body {
  width : auto;
  height : 100%;
  margin-left : auto;
  margin-right : auto;
  background-color: rgb(0,0,0);
  background-image : url(../img/bg-all.jpg);
  background-size : cover;
  background-repeat: no-repeat;
  background-position : center;
}

input {
  background-color : #7b7b7b;
  color: #FFF;
  border-radius : 3px;
  width : 30%;
  border : none;
}

div {
  text-align : center;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) { }
